@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

/* BODY */
.App {
  text-align: center;
  font-family:"Montserrat", sans-serif;
  color: black;
}


/*NAV BAR=============================================*/

nav{
  width:100%;
  padding-top: 2rem;
}
nav ul{
  margin: auto;
  width: 360px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.navElement a{
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 0.8rem;
  transition: 0.25s;
  margin: 5px;
}

.navElement a:hover{
  opacity: 1;
  color: white;
  background-color: black;
  transition: 0.2s;

}
#myname{
  padding: 30px 15px;
  font-size: 0.7rem;
  font-family: "lato";
}

/* HERO ==================================*/
.hero p{
  font-size: 1.4vh;

}